<input type="text" [(ngModel)]="searchText" placeholder="Search..." >

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Available</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.quantity }}</td>
      <td>{{ p.isAvailable }}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/admin/edit-product/{{ p.id }}">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(p.id)">Delete</button>
      </td>
    </tr>
  </tbody>

</table>
<button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>

<ul class="nav nav-pills">

  <li *ngFor="let page of [].constructor(this.totalPages); let i = index">
    <button
      (click)="handleGotoPage(i + 1)"
      [ngClass]="{
  'btn-success': currentPage === (i + 1),
  'btn-outline-success': currentPage !== (i + 1)
}"
      class="btn m-1"
    >
      {{ i + 1 }}
    </button>
  </li>

</ul>
<button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>

